/*
 * Command Omnibox Style
 */

/*
 * Content
 *
 * - Overlay
 * - Omnibox
 * - Search Input
 * - Hints
 */

/*
 * Overlay
 */
.wwh-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  z-index: 99999998;
}

/*
 * Omnibox
 */
#wwh-command-omnibox {
  display: block;
  position: fixed;
  width: 80%;
  top: 30%;
  left: 50%;
  margin: 0 0 0 -40%;
  
  z-index: 99999999;
  text-align: left;
  border: 2px solid #81d8db;
  border-radius: 4px;
}

/*
 * Search
 */
#wwh-command-omnibox input {
  font-family: Monaco;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 0;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: #99edf0;
}

#wwh-command-omnibox .wwh-search {
  display: block;
  padding: 5px 7px;
}

/*
 * Hints
 */
.wwh-hints {
  list-style: none;
  display: block;
  border-radius: 0 0 4px 4px;
  list-style: none;
  padding: 10px 0;
  padding-top: 0;
}

.wwh-hints li {
  line-height: 1.1em;
  padding: 7px;
  font-size: 16px;
  position: relative;
  display: list-item;
  margin: auto;
  color: #99edf0;
  font-family: Monaco;
}

.wwh-hints li.wwh-hints-headline {
  margin-bottom: 1.5%;
  font-size: 2em;
}

.wwh-hints .wwh-hints-hl {
  padding: 2px 4px;
  border-radius: 2px;
  background-color: #c6e9f5;
  color: #000;
  font-size: 1.1em;
}

.wwh-hints .wwh-hints-hl-keyword-reserved,
.wwh-hints .wwh-hints-hl-keyword-command {
  font-weight: bold;
}
